* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    margin: 5px auto;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.no_list_style {
    list-style: none;
}

.center_content {
    justify-content: center;
}

.no_text_decoration {
    text-decoration: none;
}

.text_center {
    text-align: center;
}

.space_between {
    justify-content: space-between;
}

.space_around {
    justify-content: space-around;
}

.space_evenly {
    justify-content: space-evenly;
}

.column_flex {
    display: flex;
    flex-direction: column;
}

.display_none {
    display: none;
}

.align_center {
    align-items: center;
}

.btn {
    border-width: 0px;
    padding: 15px;
    font-size: 1.5rem;
    background-color: transparent;
}

.btn:hover{
    opacity: 0.7;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.btnarea{
    flex-wrap: wrap;
}

@media only screen and (max-width: 850px) {}